extend base

block content 
  main.main
    .login-form
      h2.heading-secondary.ma-bt-md Reset your password
      form.form#reset-password-form(data-token=`${token}`)
        .form__group.ma-bt-md
          label.form__label(for='new-password') New password
          input#new-password.form__input(type='password', placeholder='', required)
        .form__group.ma-bt-md
          label.form__label(for='password-confirm') Confirm password
          input#password-confirm.form__input(type='password', placeholder='', required)
        .form__group
          button.btn.btn--green Continue
      //- div#success-reset
      //-   h1 You've successfully changed your password

    